<div class="container mx-auto md:px-6">
  <section class="mt-22">
    <h1 class="mb-6 text-3xl font-bold text-center text-black dark:text-white">
      {{ post().attributes.title }}
    </h1>
    @if (post().attributes.coverImage) {
    <img
      [src]="post().attributes.coverImage"
      class="mb-6 max-h-80 w-full rounded-lg shadow-lg dark:shadow-black/20"
      alt="image"
    />
    } @if (getAuthor.name && post().attributes.publishDate) {
    <div class="mb-6 flex items-center text-gray-600 dark:text-gray-400">
      <img
        [src]="getAuthor().imgSrc"
        class="mr-2 h-8 rounded-full"
        alt="avatar"
        loading="lazy"
      />
      <div>
        <span>
          Published
          <u>{{ post().attributes.publishDate | date : "longDate" }}</u> by
        </span>
        <a href="#!" class="font-medium hover:text-gray-800 dark:hover:text-gray-200"> {{ getAuthor().name }}</a>
      </div>
    </div>
    }

    <p>
      <analog-markdown
        class="text-black dark:text-white"
        [content]="post().content"
      />
    </p>

    @if (isMobile()) {
    <section class="flex justify-center mx-auto px-6 sm:px-6 py-11 my-14">
      <blog-button label="Back" icon="Back" />
    </section>
    } @else {
    <section
      class="mx-auto px-6 sm:px-6 my-14 flex justify-between flex-col sm:flex-row"
    >
      <blog-button
        [disabled]="!post().attributes.prev"
        [eventUrl]="windowUrl() + post().attributes.prev"
        label="Prev"
        icon="Prev"
      />
      <blog-button label="Back" icon="Back" />
      <blog-button
        [disabled]="!post().attributes.next"
        [eventUrl]="windowUrl() + post().attributes.next"
        label="Next"
        icon="Next"
      />
    </section>
    }

    <section
      class="mx-auto px-6 sm:px-6 my-14 flex justify-between flex-col sm:flex-row"
    >
      @if (post().attributes.tags) {
      <div class="flex justify-center mt-8 space-x-6">
        @for (item of post().attributes.tags; track $index) {
        <blog-tag [tag]="item" />
        }
      </div>
      } @if (socialMediaAvailable()) {
      <blog-share-post
        [tags]="post().attributes.tags"
        [author]="getAuthor()"
        class="pb-4"
      />
      }
    </section>
  </section>
</div>
