<header class="relative px-3 py-2">
  <nav class="flex justify-between">
    <div
      class="w-[170px] md:w-[220px] flex flex-wrap text-black dark:text-white"
    >
      <div class="text-xl font-bold tracking-[.25em] leading-none">
        FRASZCZAK
        <span
          class="text-xs font-medium text-rose-500 dark:text-rose-500 tracking-[.05em]"
          >Technology, Culture, Life</span
        >
      </div>
    </div>
    <div class="flex items-center gap-3">
      <div
        class="opacity-[.99] transition-all navLinks absolute md:static md:w-auto w-full md:h-auto h-[100vh] flex md:items-center gap-[1.5vw] top-[100%] left-[-100%] px-5 md:py-0 py-5 bg-white dark:bg-gray-950 z-10 text-black dark:text-white"
      >
        <ul
          class="flex md:flex-row flex-col md:items-center md:gap-[2vw] gap-8"
        >
          <app-menu-element [name]="'Home'" [href]="'/'" />
          <app-menu-element [name]="'Courses'" [href]="'/courses'" />
          <app-menu-element [name]="'Blog'" [href]="'/blog'" />
        </ul>
      </div>
      <div class="flex items-center gap-2">
        <app-toggle-theme />
        <app-toggle-menu />
      </div>
    </div>
  </nav>
</header>
